
header{
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header nav ul li a{
    padding: 10px 30px;
}
header h1{
    padding: 0 0 0 15px;
}
.jumbo-text{
    margin: 100px 0 0 200px;
    font-size: 30px;
}
.jumbotron{
    display: flex;
}
.jumbotron div img{
    width: 500px;
    max-height: 670px;
}
.jumbo-img{
    margin: 30px 0 0 40px;
}
#about-me{
    margin: 0 0 0 15px;
    font-size: 30px;
}
#projects-work h2{
    font-size: 40px;
    margin: 0 0 0 15px;
}
.project-contents{
    display: flex;
    flex-wrap: wrap;
}
#contact-info div{
    display: flex;
    justify-content: space-around;
}